{% extends 'main.html'%}
{% load static %}
{% block content %}
    <header class="my_header">
        <h4>Invest in what <br> comes <i><b> next</b></i></h4>
    </header>

    <div class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="about-title">Biz haqimizda</h3>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-7">
                    <h5>NextStep - bu sizning biznesingizni keyingi bosqichga ko'taradigan kompaniya. Ma'lumotlarni
                        tahlil qilish yordamida biz sizning sohangizdagi barcha statistik ma'lumotlar to'g'risida xabar
                        beramiz. Bundan tashqari, sun'iy intellekt yordamida kelajakda qanday foyda yoki zarar
                        ko'rishingiz uchun o'zgarishlarni bashorat qilamiz</h5>
                </div>
                <div class="col-5">
                    <img src="{% static 'images/Group 9.png' %}" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="about-title mt-1">Bizning jamoa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><img src="{% static 'images/Instagram Post - 11.png' %}" alt="" class="w-100 mt-sm-1"></div>
                <div class="col-sm-4"><img src="{% static 'images/Instagram Post - 13.png' %}" alt="" class="w-100 mt-sm-5"></div>
                <div class="col-sm-4"><img src="{% static 'images/Instagram Post - 17.png' %}" alt="" class="w-100 mt-sm-3"></div>
            </div>
        </div>
    </div>

    <div class="contacts" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contacts-inner">
                        <h3 class="about-title mt-1">Biz bilan bog'lanish</h3>
                        <p>
                            Manzil: <b>Toshkent shahri, Ziyolilar, 9</b>
                        </p>
                        <p>Telefon raqami: <b>+99 894 230 74 77</b></p>
                        <p>Elektron manzil: <b>u1610183@gmail.com</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}