<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next step</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- jQuery library -->
    <script src="jquery/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="js/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <div class="row w-100">
                <a class="navbar-brand" href="#"><img src="data/Frame 6.svg" alt=""></a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">Biz haqimizda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">Bizning jamoa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">Aloqa</a>
                        </li>
                        <li class="nav-item login-item">
                            <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i> Kirish</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button type="button" class="btn" data-toggle="dropdown">
                                    Uz
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Uz</a>
                                    <a class="dropdown-item" href="#">Ru</a>
                                    <a class="dropdown-item" href="#">En</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header class="my_header">
        <h4>Invest in what <br> comes <i><b> next</b></i></h4>
    </header>

    <div class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="about-title">Biz haqimizda</h3>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-7">
                    <h5>NextStep - bu sizning biznesingizni keyingi bosqichga ko'taradigan kompaniya. Ma'lumotlarni
                        tahlil qilish yordamida biz sizning sohangizdagi barcha statistik ma'lumotlar to'g'risida xabar
                        beramiz. Bundan tashqari, sun'iy intellekt yordamida kelajakda qanday foyda yoki zarar
                        ko'rishingiz uchun o'zgarishlarni bashorat qilamiz</h5>
                </div>
                <div class="col-5">
                    <img src="data/Group 9.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="about-title mt-1">Bizning jamoa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"><img src="data/Instagram Post - 11.png" alt="" class="w-100 mt-sm-1"></div>
                <div class="col-sm-4"><img src="data/Instagram Post - 13.png" alt="" class="w-100 mt-sm-5"></div>
                <div class="col-sm-4"><img src="data/Instagram Post - 17.png" alt="" class="w-100 mt-sm-3"></div>
            </div>
        </div>
    </div>

    <div class="contacts" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contacts-inner">
                        <h3 class="about-title mt-1">Biz bilan bog'lanish</h3>
                        <p>
                            Manzil: <b>Toshkent shahri, Ziyolilar, 9</b>
                        </p>
                        <p>Telefon raqami: <b>+99 894 230 74 77</b></p>
                        <p>Elektron manzil: <b>u1610183@gmail.com</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="main.js"></script>

</html>